@charset "ISO-8859-1";

body {
	background-color:  #e9ecef !important;
}



/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

body {
  background: #F1F3FA;
}

.logo-nav img {
  float: none;
  width: 65%;
  height: 65%;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  border-radius: 4% !important;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.search-profile-userpic img{
	float: none;
  	margin: 0 auto;
  	width: 30%;
  	height: 30%;
  	-webkit-border-radius: 50% !important;
  	-moz-border-radius: 50% !important;
  	border-radius: 50% !important;	
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
  border-radius: 1% !important;
}

/* Profile Content */
.search-user {
  padding: 20px;
  background: #fff;
  min-height: 460px;
  margin: 0 auto;
  width: 50%;
}

#container-nota {
 	display: inline-block;
 	position: relative;
}

#container-nota figcaption {
	position: absolute;
    top: 10px;
    right: 11px;
    font-size: 20px;
}

#container-nota img {
	max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
}

#container-nota-comp {
 	display: inline-block;
 	position: relative;
	padding-top: 20%;
}

#container-nota-comp figcaption {
	position: absolute;
    top: 10px;
    right: 16px;
    font-size: 30px;
}

#container-nota-comp img {
	max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
}

#container {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}